# SPDX-FileCopyrightText: 2020 Justin Humm <mail@erictapen.name>
#
# SPDX-License-Identifier: GPL-3.0-or-later

*.jpeg
*.png
*.svg

!all_days-filter91.json
!all_days-filter92.json
!all_days-filter93.json
!all_days-filter94.json
!all_days-filter96.json
!all_days-filter98.json
!all_days-filter99.json