/*
 * SPDX-FileCopyrightText: 2020 Justin Humm <mail@erictapen.name>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

body{
  max-width: 38em;
  padding: 2rem;
  text-align: left;
  margin: auto;
}

#scroll-diagram {
  overflow-x: scroll;
  width: 38em;
}